
<section class="center-wr" style="margin-top:77px;">
<div class="row page-wraper">
  <div class="col-md-12 full-content-wraper">
    <div class="col-md-2 sidebar-menu">
    </div>
    <div class="col-md-6 content-wraper"> 

    <form method="POST" action="/addtest" enctype="multipart/form-data">
        <label>Name:<input type="text" name="clientname" required></label>
        <input type="submit" value="Submit">
    </form>
 </div>
        <div class="col-md-3">
        </div>
     </div>
   </div>
    </section>