<!DOCTYPE html>
<html lang="en">
<head>
  <title>Conative IT Solutions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"  content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />

  <link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
	<link href="./assets/css/css2.css" rel="stylesheet">
	<!-- Icons. Uncomment required icon fonts -->
	<link rel="stylesheet" href="./assets/css/boxicons.css">
	<!-- Core CSS -->
	<link rel="stylesheet" href="./assets/css/core.css" class="template-customizer-core-css">
	<link rel="stylesheet" href="./assets/css/theme-default.css" class="template-customizer-theme-css">
	<link rel="stylesheet" href="./assets/css/demo.css">
	<!-- Vendors CSS -->
	<link rel="stylesheet" href="./assets/css/perfect-scrollbar.css">
	<link rel="stylesheet" href="./assets/css/apex-charts.css">
	<!-- Page CSS -->
  <link rel="stylesheet" href="./assets/css/page-auth.css">
	<!-- Helpers -->
	<script src="./assets/js/helpers.js"></script>
	<style type="text/css">
	.layout-menu-fixed .layout-navbar-full .layout-menu,
	.layout-page {
		padding-top: 0px !important;
	}
	
	.content-wrapper {
		padding-bottom: 0px !important;
	}
	</style>
	<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
	<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
	<script src="./assets/js/config.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="async" src="./assets/js/js"></script>


  <!-- <link rel="stylesheet" type="text/css" href="/library/css/animate.css">
  <script type="text/javascript" src="/library/js/wow.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/library/css/slicknav.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/library/css/style.css">
  <link rel="stylesheet" type="text/css" href="/library/css/responsive.css">
  <link rel="icon" href="/library/images/logo.png" type="image/svg">
   <link rel="stylesheet" type="text/css" href="/library/css/style_backend.css">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <script src="/ckeditor/ckeditor.js"></script>
</head>
<body data-new-gr-c-s-check-loaded="14.1052.0" data-gr-ext-installed="" cz-shortcut-listen="true">
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar  ">
		<div class="layout-container">
    <%- body %>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
    </div>
     <script>
      CKEDITOR.replace('editor1');
     </script>
     <script type="text/javascript">
  
  </script>
	<script src="./assets/js/jquery.js"></script>
	<script src="./assets/js/popper.js"></script>
	<script src="./assets/js/bootstrap.js"></script>
	<script src="./assets/js/perfect-scrollbar.js"></script>
	<script src="./assets/js/menu.js"></script>
	<!-- endbuild -->
	<!-- Vendors JS -->
	<script src="./assets/js/apexcharts.js"></script>
	<!-- Main JS -->
	<script src="./assets/js/main.js"></script>
	<!-- Page JS -->
	<script src="./assets/js/dashboards-analytics.js"></script>
	<!-- Place this tag in your head or just before your close body tag. -->
	<script async="" defer="" src="./assets/js/buttons.js"></script>
	<svg id="SvgjsSvg1283" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" >
		<defs id="SvgjsDefs1284"></defs>
		<polyline id="SvgjsPolyline1285" points="0,0"></polyline>
		<path id="SvgjsPath1286" d="M-1 217.1625L-1 217.1625C-1 217.1625 61.09071568080357 217.1625 61.09071568080357 217.1625C61.09071568080357 217.1625 122.18143136160714 217.1625 122.18143136160714 217.1625C122.18143136160714 217.1625 183.27214704241072 217.1625 183.27214704241072 217.1625C183.27214704241072 217.1625 244.36286272321428 217.1625 244.36286272321428 217.1625C244.36286272321428 217.1625 305.45357840401783 217.1625 305.45357840401783 217.1625C305.45357840401783 217.1625 366.54429408482144 217.1625 366.54429408482144 217.1625C366.54429408482144 217.1625 427.635009765625 217.1625 427.635009765625 217.1625C427.635009765625 217.1625 427.635009765625 217.1625 427.635009765625 217.1625 "></path>
	</svg>
</body>   
</html>