<h1>Editor</h1>
   <div class="container">
      <!-- <textarea id="mytextarea">Hello, World!s</textarea> -->
      <textarea id="editor1" name="editor1" rows="10" cols="80">Hello, World!s</textarea>
  </div>
  <script>
  	CKEDITOR.replace('editor1');
  </script>

